body{
    background-color: #222222;
}
.container{
    padding-top: 5%;
    padding-left: 5%;
}
.container img{
    width: auto;
    height: 33vh;
}
.container a{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vh;
    text-decoration: none;
    color: #DDDDDD;
}
