/*
gruvbox all the things
https://github.com/morhetz/gruvbox
*/

body{
    background-color: #fbf1c7;
}
.container{
    padding-top: 20%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4vh;
}
.name{
    font-size: 6vh;
}
.container a.red{
    text-decoration: none;
    color: #cc241d;
}
.container a.green{
    text-decoration: none;
    color: #98971a;
}
.container a.yellow{
    text-decoration: none;
    color: #d79921;
}
.container a.blue{
    text-decoration: none;
    color: #458588;
}
.container a.purple{
    text-decoration: none;
    color: #b16286;
}
.container a.aqua{
    text-decoration: none;
    color: #689d6a;
}
.container a.white{
    text-decoration: none;
    color: #fbf1c7;
}
.container a.black{
    text-decoration: none;
    color: #3c3836;
}
.container a:hover{
    text-decoration: underline;
}
